.div {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

/*
:hover : 요소에 마우스를 올렸을 때
*/
.div1 :hover

{
    background-color: aqua;
    width: 200px;
    height: 200px;
}
  
/*
:acttive : 요소에 마우스를 올렸을 때
*/

/*
:focus : 요소에 마우스를 올렸을 때
*/
input:focus {
    background-color: blueviolet
    color palevioletred
}
.link > a:hover{
    background-color: coral;
}

.link >a:visited{
color: red;
}

/* 요소 상황에 따른 가상 클래스 선택자 */
.zoo > * {
    background-color: green;
    color: white;
}
/* 1. E.first-child : E요소가 첫번째 요소라면 
*/
.zoo > *:first-child{
    background-color: red;
}
/* 2. E.last-child : E요소가 마지막 요소라면 
*/
.zoo >*:last-child {
    background-color: blue;
}

/* 3. E:nth-child(n) : E요소가 n반째 요소라면
*/
.zoo > *:nth-child(2) {
    background-color: blueviolet;
}

/* 4. E:nth-child(n) : xyz가 아닌 요소 선택
*/
.zoo > *:not(div)
{
    background-color: black;
}