/* overflow 컨텐츠가 너무 크거나 길어서 크기보다 넘치게 된다면? 
visible: 벗어난 부분 표기
hidden: 벗어난 부분 숨김
scroll: 스크롤 생성
auto: 넘친다면 스크롤, 안넘치면 스크롩 없이
-x: 수평 방향으로 넘칠 때 처리해라 (-y는 수직 방향으로 넘길 때 처리)
*/
.box{
    width: 300px;
    height: 30px;
    background-color: aqua;
overflow-y: hidden;
}