.container {
    border: 5px solid black;
    position: relative;
    width: 500px;
    height: 500px;
}
.box {
    width: 100px;
    height: 100px;
    text-align: center;
}
.box1 {
    position: relative;
    background-color: bisque;
    left: 50px;
    right: 30px;
}
/* 상대 위치 */

.box2 { 
    position: absolute;
    background-color:pink;
    right: 30px;
    bottom: 100px;
    /* 절대 위치 */
}
.box3 {
    position: fixed;
    background-color: aqua;
    right: 100px;
    top: 100px;

}
/* 화면 고정 위치 */